$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #ec1d24;
$light-color: #f9f9f9;
$gray: #bbb;
$dark-color: #333;

$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$max-layout-width: 1200px;
